{% extends "requerimiento6/base.html" %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}
<div class="card shadow p-4 text-center">

    <i class="bi bi-exclamation-triangle text-danger fs-1"></i>

    <h3 class="fw-bold mt-3">Confirmar Eliminación</h3>

    <p class="fs-5">
        ¿Seguro que deseas eliminar el producto
        <strong class="text-danger">{{ producto.nombre }}</strong>?
    </p>

    <form method="POST" class="mt-4">
        {% csrf_token %}

        <button type="submit" class="btn btn-danger px-4">
            <i class="bi bi-trash"></i> Eliminar
        </button>

        <a href="{% url 'producto_list' %}" class="btn btn-secondary px-4 ms-2">
            Cancelar
        </a>
    </form>
</div>
{% endblock %}


